    /* Container holding the image and the text */
.image-container {
    color: black;
    background-color: whitesmoke;
    /* opacity: 0.0; */
    position: relative;
    width: 100%;
    /* z-index: ; */
}


/* Top text */
.image-top {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

/* Center text */
.image-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Bottom text */
.image-bottom {
    position: absolute;
    width: 80%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-cover {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 10px #000;
}

/***** Zoom *****/

.zoom:hover{
    transform: scale(1.05);
    transition: all ease 500ms;
}

/* change Theme */
.theme-checkbox {
	opacity: 0;
    display: none;
	position: absolute;
    background-color: var(--bs-danger);
}
.theme-label {
    /* background-color: #95a5a6; */
    background-color: #212529;
	border-radius: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 21px;
	width: 42px;
	transform: scale(1.5);
}
.theme-checkbox:checked + .theme-label {
    /* background-color: #f8f9fa; */
    background-color: #f8f9fa;
}

.theme-label .ball {
	background-color: #ecf0f1;
	/* background-color: ##f8f9fa; */

	border-radius: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 21px;
	width: 20px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.theme-checkbox:checked + .theme-label .ball {
	transform: translateX(22px);
    background-color: #303030;
}


.bi-moon-fill {
	/* color: #f1ad4b; */
	/* color: white; */
	color: #f8f9fa;
    height: 7px;
	width: 7px;
    position: absolute;
    top: -2px;
	right: 12px;
}

.bi-sun-fill {
	color: #FDB813;
    height: 18px;
	width: 16px;
    position: absolute;
    top: -2px;
	left: 2px;
}