<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="/images/logo.png"  type="image/ico" />
    <link href="/css/styles.css" rel="stylesheet" >
    <!-- <script type="text/javascript" src="https://livejs.com/live.js"></script> -->
    
    
    <title>Library</title>
</head>
<body class="">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" alt="" width="50" height="48" class="d-inline-block align-text-top">
    </a>
    <a class="navbar-brand me-5" href="/">
      <span class="align-middle fs-4">Library</span>
    </a>  
    
    <!-- button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if(typeof user == 'undefined') { %>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <!-- <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/users/login"><span class="align-middle fs-5">Login</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/register"><span class="align-middle fs-5">Register</span></a>
          </li>
        </ul>
    <% } else { %> 
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/books"><span class="align-middle fs-5">Books</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/authors"><span class="align-middle fs-5">Authors</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/modify/addingBook"><span class="align-middle fs-5">Add Book</span></a>
          </li>
        </ul>
        <li class="navbar-nav ms-auto ">
          <a class="nav-link text-success" href="/users/logout"><span class="align-middle fs-5">Logout</span></a>
        </li>
      </div>
    <% } %> 


  </div>
</nav>

